<div class="container">
  <div class="header">
    <h2>{{ edicion ? 'Editar mueble' : 'Registrar mueble' }}</h2>
  </div>

  <form [formGroup]="form" (ngSubmit)="aceptar()" class="form-container">
    
    @if (edicion) {
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Código</mat-label>
      <input matInput [value]="id" readonly />
    </mat-form-field>
    }

    <div class="row">
      <!-- Nombre (Sigue siendo libre) -->
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" placeholder="Ej: Silla Gamer" />
        @if (form.get('nombre')?.hasError('required')) {
        <mat-error>El nombre es obligatorio.</mat-error>
        }
      </mat-form-field>

      <!-- CATEGORÍA (COMBO BOX) -->
      <mat-form-field appearance="outline">
        <mat-label>Categoría</mat-label>
        <mat-select formControlName="categoria">
          @for (cat of listaCategorias; track cat) {
            <mat-option [value]="cat">{{ cat }}</mat-option>
          }
        </mat-select>
        @if (form.get('categoria')?.hasError('required')) {
        <mat-error>Requerido</mat-error>
        }
      </mat-form-field>
    </div>

    <h3 class="section-title">Dimensiones (cm)</h3>
    <div class="row three-cols">
      <mat-form-field appearance="outline">
        <mat-label>Alto</mat-label>
        <input matInput type="number" formControlName="alto" min="0" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Ancho</mat-label>
        <input matInput type="number" formControlName="ancho" min="0" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Profundidad</mat-label>
        <input matInput type="number" formControlName="profundidad" min="0" />
      </mat-form-field>
    </div>

    <div class="row">
      <!-- ESTILO (COMBO BOX) -->
      <mat-form-field appearance="outline">
        <mat-label>Estilo</mat-label>
        <mat-select formControlName="estilo">
           @for (est of listaEstilos; track est) {
            <mat-option [value]="est">{{ est }}</mat-option>
          }
        </mat-select>
        @if (form.get('estilo')?.hasError('required')) {
        <mat-error>Requerido</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Precio</mat-label>
        <input matInput type="number" formControlName="precio" min="0" />
        <span matTextPrefix>S/.&nbsp;</span>
      </mat-form-field>
    </div>

    <div class="row">
      <!-- SOFTWARE (COMBO BOX) -->
      <mat-form-field appearance="outline">
        <mat-label>Software de Diseño</mat-label>
        <mat-select formControlName="programaDev">
           @for (prog of listaSoftware; track prog) {
            <mat-option [value]="prog">{{ prog }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Descripción</mat-label>
        <textarea matInput formControlName="descripcion" placeholder="Detalles..."></textarea>
      </mat-form-field>
    </div>

    <div class="checkbox-container">
      <mat-checkbox formControlName="sostenibilidad">¿Es un producto hecho por IA?</mat-checkbox>
    </div>

    <div class="actions">
      <button mat-raised-button color="primary" type="submit">
        {{ edicion ? 'Actualizar' : 'Registrar' }}
      </button>
      <button mat-button color="warn" type="button" routerLink="/muebles">
        Cancelar
      </button>
    </div>

  </form>
</div>