.container {
  padding: 2% 5%;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.example-full-width {
  width: 100%;
  max-width: 400px;
}

table {
  width: 100%;
}
